<style>


    footer{
        background-color: rgba(0, 0, 0, 0.33);
        bottom: 0px;
    }

    .firstFooter{
        max-height: 8rem !important;
    }

    p{
        padding: 0 10px 0 10px;
    }
</style>
<section class="footer">
    <!-- Footer -->
    <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0 firstFooter">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3 mr-3 ">Register for free</span>
                    <a href="/register" type="button" class="btn btn-outline-light btn-rounded">
                        Sign up!
                    </a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>